.entryjs {
  opacity: 0;
  transition: transform .5s, opacity .5s;
}

.entryjs.entryjs-no-opacity{
  opacity: 1;
}
.entryjs.entryjs-left{
  transform: translateX(-50px);
}
.entryjs.entryjs-right{
  transform: translateX(50px);
}
.entryjs.entryjs-top{
  transform: translateY(-50px);
}
.entryjs.entryjs-bottom{
  transform: translateY(50px);
}
.entryjs.entryjs-active {
  opacity: 1 !important;
  transform: translate(0) rotate(0deg) scale(1) !important;
}