html, body {
  padding: 0;
  margin: 0;
  min-width: 600px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 30px 200px;
}
pre {
  background-color: #e5e5e5;
  color: #111;
  line-height: 1.5;
  padding: 20px 0;
  
}
.nav-list {
  list-style: none;
  margin-bottom: 35px;
  text-align: center;
}
.nav-list li {
  display: inline-block;
}
.nav-list li.active, .nav-list li:hover {
  background-color: #eee;
}
.nav-list a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
}
.box {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
  color: #666;
  line-height: 2;
  min-height: 300px;
  max-width: 800px;
  margin: 0 auto 80px;
  position: relative;
  padding: 40px;
  text-align: left;
}
.box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.emphasis {
  color: green;
  /*font-weight: bold;*/
  font-size: 20px;
}
.sub-box {
  box-sizing: border-box;
  float: left;
  padding: 20px; 
  position: relative;
  width: 50%;
}
.desc {
  background-color: rgba(0,0,0,.06);
  padding: 80px 20px;
  text-align: center; 
}
.char {
  font-size: 30px;
  display: inline-block;
}
.text-fade {
  color: #999;
}
.theshold {
  background-color: #cdd;
  bottom: 420px;
  font-size: 14px;
  position: fixed;
  left: 0;
  width: 100%;
  height: 2px;
}
.theshold:after {
  content: 'theshold';
  position: absolute;
  right: 10px;
  color: #666;
}
.placeholder {
  border: 2px dashed #bbb;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
}
.placeholder-b {
  height: 100%;
  width: 100%;
  max-width: 800px;
  left: 50%;
  margin: 0 0 0 -402px; 
}
.psr {
  position: relative;
}